# Import

In [64]:
import pandas as pd
import numpy as np
import math
import tensorflow as tf
import sklearn
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.activations import linear, relu

In [65]:
pip install keras-tuner --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)

In [66]:
import keras_tuner as kt

In [67]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [68]:
df_a=pd.read_csv("../content/drive/MyDrive/TherapEase/adult21.csv")

# Preprocessing

In [69]:
need_cols = ['AGEP_A', 'SEX_A', 'BMICAT_A', 'PHSTAT_A', 'MARSTAT_A', 'EDUCP_A', 'SCHCURENR_A', 'LSATIS11R_A', 
             'SAD_A', 'NERVOUS_A', 'RESTLESS_A', 'HOPELESS_A', 'EFFORT_A', 'WORTHLESS_A', 'K6SPD_A', 'SOCSCLPAR_A', 'EMPWRKLSW1_A', 'EMPWHYNOT_A', 'EMPWKHRS3_A', 'EMPWRKFT1_A', 
             'SUPPORT_A', 'CMPSUPPORT_A', 'FAMCARE12M_A', 'ANXEV_A', 'DEPEV_A', 'ANXFREQ_A', 'ANXLEVEL_A', 'DEPFREQ_A','DEPLEVEL_A']

In [70]:
sub_df = df_a[need_cols]

In [71]:
sub_df.columns = ['age', 'sex', 'bmi', 'physical', 'marital', 'edu', 'school', 'life_satisfaction', 
                  'sad', 'nervous', 'restless', 'hopeless', 'effort', 'worthless', 'k6', 'social', 'work_lastweek', 'work_whynot', 'work_time', 'work_time35', 
                  'support', 'support12m', 'famcare', 'anx_ever', 'dep_ever', 'anx_freq', 'anx_level', 'dep_freq', 'dep_level']

In [72]:
sub_df.head()

,age,sex,bmi,physical,marital,edu,school,life_satisfaction,sad,nervous,...,work_time35,support,support12m,famcare,anx_ever,dep_ever,anx_freq,anx_level,dep_freq,dep_level
0,50,1,3,2,5,1,2,8,5,5,...,1.0,2,3,2,2,2,5,NaN,5,NaN
1,53,1,3,2,6,7,2,8,5,5,...,1.0,1,3,1,2,2,4,3.0,5,NaN
2,56,1,3,2,5,8,2,9,4,4,...,1.0,2,3,2,1,2,2,3.0,4,1.0
3,57,2,4,4,7,5,2,8,5,3,...,NaN,3,1,1,1,2,2,3.0,4,3.0
4,25,1,4,3,9,4,8,8,8,8,...,NaN,8,8,8,2,2,8,NaN,8,NaN

In [73]:
for col in sub_df.columns:
    print(col, sub_df[col].value_counts(), sep='\n')
    print(sub_df[col].isna().sum())
    print("\n")

age
85    1032
61     588
60     564
59     560
64     553
      ...
83     222
19     219
84     194
97      76
99      10
Name: age, Length: 70, dtype: int64
0


sex
2    16102
1    13378
9        1
7        1
Name: sex, dtype: int64
0


bmi
3    9917
4    9225
2    9144
9     733
1     463
Name: bmi, dtype: int64
0


physical
2    10105
3     8350
1     6657
4     3353
5     1004
9        7
7        6
Name: physical, dtype: int64
0


marital
1    12675
7     6056
5     3926
4     2820
8     1850
9      991
2      730
6      426
3        8
Name: marital, dtype: int64
0


edu
8     6968
4     6606
5     4453
9     3284
7     2566
1     2069
10    1149
6     1126
3      645
2      464
99     101
97      51
Name: edu, dtype: int64
0


school
2    26786
1     1729
8      953
7       12
9        2
Name: school, dtype: int64
0


life_satisfaction
10    8717
8     7656
9     5227
7     3698
5     1537
6     1279
4      324
98     314
3      229
0      141
99     120
2      108
1       71
97      61
Name: life_satisfaction, dtype: int64
0


sad
5    22603
4     3512
3     1920
8      615
2      496
1      214
7       80
9       42
Name: sad, dtype: int64
0


nervous
5    16569
4     6689
3     4079
2      873
8      623
1      526
7       73
9       50
Name: nervous, dtype: int64
0


restless
5    18399
4     4621
3     3726
2     1032
1      957
8      625
7       70
9       52
Name: restless, dtype: int64
0


hopeless
5    24991
4     1844
3     1325
8      630
2      328
1      229
7       79
9       56
Name: hopeless, dtype: int64
0


effort
5    20664
4     3316
3     3020
2      886
1      814
8      634
7       76
9       72
Name: effort, dtype: int64
0


worthless
5    25551
4     1439
3     1180
8      637
2      302
1      236
7       82
9       55
Name: worthless, dtype: int64
0


k6
2    27599
1     1012
8      871
Name: k6, dtype: int64
0


social
1    26508
2     1751
3      689
4      506
9       17
7       11
Name: social, dtype: int64
0


work_lastweek
1    16461
2    12043
9      978
Name: work_lastweek, dtype: int64
0


work_whynot
3.0     7522
4.0     1641
5.0     1171
1.0      667
8.0      562
6.0      435
2.0      137
7.0       43
97.0       6
99.0       3
Name: work_whynot, dtype: int64
17295


work_time
40.0    7271
50.0    1619
45.0    1063
60.0     789
30.0     689
        ...
87.0       2
77.0       1
51.0       1
73.0       1
71.0       1
Name: work_time, Length: 85, dtype: int64
13044


work_time35
1.0    13298
2.0     3131
7.0       17
9.0       11
Name: work_time35, dtype: int64
13025


support
1    15784
2     7328
3     3238
5     1138
4      975
8      874
9       92
7       53
Name: support, dtype: int64
0


support12m
3    22188
1     3670
2     2628
8      878
9       74
7       44
Name: support12m, dtype: int64
0


famcare
2    25507
1     3479
8      482
7        9
9        5
Name: famcare, dtype: int64
0


anx_ever
2    24582
1     4860
7       23
9       17
Name: anx_ever, dtype: int64
0


dep_ever
2    24063
1     5367
9       29
7       23
Name: dep_ever, dtype: int64
0


anx_freq
4    9168
5    8464
2    4150
1    3592
3    3431
8     534
9      91
7      52
Name: anx_freq, dtype: int64
0


anx_level
1.0    10301
3.0     7893
2.0     2264
9.0       91
7.0       64
8.0       11
Name: anx_level, dtype: int64
8858


dep_freq
5    15182
4     8407
3     2220
2     1789
1     1186
8      547
9       86
7       65
Name: dep_freq, dtype: int64
0


dep_level
1.0    7031
3.0    5051
2.0    1765
9.0      89
7.0      68
Name: dep_level, dtype: int64
15478

In [74]:
sub_df.loc[:, 'anx_level'] = sub_df.loc[:, 'anx_level'].apply(lambda x : 0 if math.isnan(x) else x)
sub_df.loc[:, 'dep_level'] = sub_df.loc[:, 'dep_level'].apply(lambda x : 0 if math.isnan(x) else x)
sub_df.loc[:, 'work_whynot'] = sub_df.loc[:, 'work_whynot'].apply(lambda x : 0 if math.isnan(x) else x)
sub_df.loc[:, 'work_time'] = sub_df.loc[:, 'work_time'].apply(lambda x : 0 if math.isnan(x) else x)
sub_df.loc[:, 'work_time35'] = sub_df.loc[:, 'work_time35'].apply(lambda x : 0 if math.isnan(x) else x)

<ipython-input-74-73a1d62ab99a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df.loc[:, 'anx_level'] = sub_df.loc[:, 'anx_level'].apply(lambda x : 0 if math.isnan(x) else x)
<ipython-input-74-73a1d62ab99a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df.loc[:, 'dep_level'] = sub_df.loc[:, 'dep_level'].apply(lambda x : 0 if math.isnan(x) else x)
<ipython-input-74-73a1d62ab99a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df.loc[:, 'work_whynot'] = sub_df.loc[:, 'work_whynot'].apply(lambda x : 0 if math.isnan(x) else x)
<ipython-input-74-73a1d62ab99a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df.loc[:, 'work_time'] = sub_df.loc[:, 'work_time'].apply(lambda x : 0 if math.isnan(x) else x)
<ipython-input-74-73a1d62ab99a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df.loc[:, 'work_time35'] = sub_df.loc[:, 'work_time35'].apply(lambda x : 0 if math.isnan(x) else x)

In [75]:
for col in sub_df.columns:
    print(col, sub_df[col].value_counts(), sep='\n')
    print(sub_df[col].isna().sum())
    print("\n")

age
85    1032
61     588
60     564
59     560
64     553
      ...
83     222
19     219
84     194
97      76
99      10
Name: age, Length: 70, dtype: int64
0


sex
2    16102
1    13378
9        1
7        1
Name: sex, dtype: int64
0


bmi
3    9917
4    9225
2    9144
9     733
1     463
Name: bmi, dtype: int64
0


physical
2    10105
3     8350
1     6657
4     3353
5     1004
9        7
7        6
Name: physical, dtype: int64
0


marital
1    12675
7     6056
5     3926
4     2820
8     1850
9      991
2      730
6      426
3        8
Name: marital, dtype: int64
0


edu
8     6968
4     6606
5     4453
9     3284
7     2566
1     2069
10    1149
6     1126
3      645
2      464
99     101
97      51
Name: edu, dtype: int64
0


school
2    26786
1     1729
8      953
7       12
9        2
Name: school, dtype: int64
0


life_satisfaction
10    8717
8     7656
9     5227
7     3698
5     1537
6     1279
4      324
98     314
3      229
0      141
99     120
2      108
1       71
97      61
Name: life_satisfaction, dtype: int64
0


sad
5    22603
4     3512
3     1920
8      615
2      496
1      214
7       80
9       42
Name: sad, dtype: int64
0


nervous
5    16569
4     6689
3     4079
2      873
8      623
1      526
7       73
9       50
Name: nervous, dtype: int64
0


restless
5    18399
4     4621
3     3726
2     1032
1      957
8      625
7       70
9       52
Name: restless, dtype: int64
0


hopeless
5    24991
4     1844
3     1325
8      630
2      328
1      229
7       79
9       56
Name: hopeless, dtype: int64
0


effort
5    20664
4     3316
3     3020
2      886
1      814
8      634
7       76
9       72
Name: effort, dtype: int64
0


worthless
5    25551
4     1439
3     1180
8      637
2      302
1      236
7       82
9       55
Name: worthless, dtype: int64
0


k6
2    27599
1     1012
8      871
Name: k6, dtype: int64
0


social
1    26508
2     1751
3      689
4      506
9       17
7       11
Name: social, dtype: int64
0


work_lastweek
1    16461
2    12043
9      978
Name: work_lastweek, dtype: int64
0


work_whynot
0.0     17295
3.0      7522
4.0      1641
5.0      1171
1.0       667
8.0       562
6.0       435
2.0       137
7.0        43
97.0        6
99.0        3
Name: work_whynot, dtype: int64
0


work_time
0.0     13044
40.0     7271
50.0     1619
45.0     1063
60.0      789
        ...
87.0        2
77.0        1
51.0        1
73.0        1
71.0        1
Name: work_time, Length: 86, dtype: int64
0


work_time35
1.0    13298
0.0    13025
2.0     3131
7.0       17
9.0       11
Name: work_time35, dtype: int64
0


support
1    15784
2     7328
3     3238
5     1138
4      975
8      874
9       92
7       53
Name: support, dtype: int64
0


support12m
3    22188
1     3670
2     2628
8      878
9       74
7       44
Name: support12m, dtype: int64
0


famcare
2    25507
1     3479
8      482
7        9
9        5
Name: famcare, dtype: int64
0


anx_ever
2    24582
1     4860
7       23
9       17
Name: anx_ever, dtype: int64
0


dep_ever
2    24063
1     5367
9       29
7       23
Name: dep_ever, dtype: int64
0


anx_freq
4    9168
5    8464
2    4150
1    3592
3    3431
8     534
9      91
7      52
Name: anx_freq, dtype: int64
0


anx_level
1.0    10301
0.0     8858
3.0     7893
2.0     2264
9.0       91
7.0       64
8.0       11
Name: anx_level, dtype: int64
0


dep_freq
5    15182
4     8407
3     2220
2     1789
1     1186
8      547
9       86
7       65
Name: dep_freq, dtype: int64
0


dep_level
0.0    15478
1.0     7031
3.0     5051
2.0     1765
9.0       89
7.0       68
Name: dep_level, dtype: int64
0

In [76]:
sub_df = sub_df[(sub_df['age'] < 97) & (sub_df['sex'] < 7) & (sub_df['bmi'] < 7) & (sub_df['physical'] < 7) & (sub_df['marital'] < 9) & (sub_df['edu'] < 97) & (sub_df['school'] < 7) & 
                (sub_df['life_satisfaction'] < 97) & (sub_df['k6'] < 7) & (sub_df['social'] < 7) & (sub_df['work_lastweek'] < 7) & (sub_df['work_whynot'] < 8) & (sub_df['work_time'] < 97) & (sub_df['work_time35'] < 7) & 
                (sub_df['support'] < 7) & (sub_df['support12m'] < 7) & (sub_df['famcare'] < 7) & (sub_df['anx_ever'] < 7) & (sub_df['dep_ever'] < 7) & (sub_df['anx_freq'] < 7) & (sub_df['dep_freq'] < 7) & (sub_df['anx_level'] < 7) & (sub_df['dep_level'] < 7)]

In [77]:
for col in sub_df.columns:
    print(col, sub_df[col].value_counts(), sep='\n')
    print(sub_df[col].isna().sum())
    print("\n")

age
85    891
61    513
62    503
66    497
59    496
     ...
20    211
83    201
82    200
19    198
84    173
Name: age, Length: 68, dtype: int64
0


sex
2    14199
1    12172
Name: sex, dtype: int64
0


bmi
3    9058
4    8528
2    8374
1     411
Name: bmi, dtype: int64
0


physical
2    9228
3    7409
1    6037
4    2864
5     833
Name: physical, dtype: int64
0


marital
1    11826
7     5538
5     3615
4     2596
8     1744
2      664
6      385
3        3
Name: marital, dtype: int64
0


edu
8     6364
4     5862
5     4017
9     3020
7     2318
1     1761
10    1045
6      996
3      574
2      414
Name: edu, dtype: int64
0


school
2    24739
1     1632
Name: school, dtype: int64
0


life_satisfaction
10    7907
8     7055
9     4841
7     3356
5     1333
6     1148
4      278
3      196
0      110
2       90
1       57
Name: life_satisfaction, dtype: int64
0


sad
5    20853
4     3178
3     1726
2      424
1      190
Name: sad, dtype: int64
0


nervous
5    15241
4     6149
3     3739
2      776
1      466
Name: nervous, dtype: int64
0


restless
5    16872
4     4288
3     3426
2      931
1      854
Name: restless, dtype: int64
0


hopeless
5    23017
4     1696
3     1181
2      277
1      200
Name: hopeless, dtype: int64
0


effort
5    19032
4     3073
3     2775
2      789
1      702
Name: effort, dtype: int64
0


worthless
5    23546
4     1306
3     1048
2      261
1      210
Name: worthless, dtype: int64
0


k6
2    25476
1      895
Name: k6, dtype: int64
0


social
1    23857
2     1551
3      569
4      394
Name: social, dtype: int64
0


work_lastweek
1    15632
2    10739
Name: work_lastweek, dtype: int64
0


work_whynot
0.0    15501
3.0     7050
4.0     1492
5.0     1092
1.0      646
6.0      424
2.0      125
7.0       41
Name: work_whynot, dtype: int64
0


work_time
0.0     10740
40.0     6957
50.0     1555
45.0     1035
60.0      753
        ...
87.0        2
77.0        1
51.0        1
73.0        1
71.0        1
Name: work_time, Length: 83, dtype: int64
0


work_time35
1.0    12680
0.0    10739
2.0     2952
Name: work_time35, dtype: int64
0


support
1    14692
2     6872
3     2918
5     1005
4      884
Name: support, dtype: int64
0


support12m
3    20523
1     3435
2     2413
Name: support12m, dtype: int64
0


famcare
2    23248
1     3123
Name: famcare, dtype: int64
0


anx_ever
2    22043
1     4328
Name: anx_ever, dtype: int64
0


dep_ever
2    21548
1     4823
Name: dep_ever, dtype: int64
0


anx_freq
4    8448
5    7665
2    3850
3    3204
1    3204
Name: anx_freq, dtype: int64
0


anx_level
1.0    9558
0.0    7543
3.0    7257
2.0    2013
Name: anx_level, dtype: int64
0


dep_freq
5    13900
4     7746
3     2066
2     1615
1     1044
Name: dep_freq, dtype: int64
0


dep_level
0.0    13689
1.0     6490
3.0     4630
2.0     1562
Name: dep_level, dtype: int64
0

In [78]:
def map_age(x):
  if x < 30 :
    return 1
  elif x < 45 :
    return 2
  elif x < 60 :
    return 3
  else :
    return 4
def map_marital(x):
  if x in {1,8} :
    return 0
  else :
    return 1
def map_edu(x):
  if x in {0, 1, 2, 3, 4, 5} :
    return 1
  elif x in {6, 7, 8} :
    return 2
  else :
    return 3
def map_work_whynot(x):
  if x in {1, 4, 5, 7} :
    return 1
  elif x in {2, 3, 6} :
    return 2
  else:
    return x
def map_1(x):
  if x == 3:
    return 4
  else:
    return x
def map_2(x):
  if x == 2:
    return 3
  else:
    return x
def map_3(x):
  if x == 4:
    return 2
  else:
    return x
def map_freq(x):
  return (-1*x)+5

In [79]:
sub_df['age'] = sub_df['age'].apply(map_age)
sub_df['marital'] = sub_df['marital'].apply(map_marital)
sub_df['edu'] = sub_df['edu'].apply(map_edu)
sub_df['work_whynot'] = sub_df['work_whynot'].apply(map_work_whynot)
sub_df['support12m'] = sub_df['support12m'].apply(map_1)
sub_df['support12m'] = sub_df['support12m'].apply(map_2)
sub_df['support12m'] = sub_df['support12m'].apply(map_3)
sub_df['dep_level'] = sub_df['dep_level'].apply(map_1)
sub_df['dep_level'] = sub_df['dep_level'].apply(map_2)
sub_df['dep_level'] = sub_df['dep_level'].apply(map_3)
sub_df['anx_level'] = sub_df['anx_level'].apply(map_1)
sub_df['anx_level'] = sub_df['anx_level'].apply(map_2)
sub_df['anx_level'] = sub_df['anx_level'].apply(map_3)
sub_df['dep_freq'] = sub_df['dep_freq'].apply(map_freq)
sub_df['anx_freq'] = sub_df['anx_freq'].apply(map_freq)
sub_df['sex'] = sub_df['sex'].apply(lambda x : 0 if (x == 2) else x)
sub_df['school'] = sub_df['school'].apply(lambda x : 0 if (x == 2) else x)
sub_df['k6'] = sub_df['k6'].apply(lambda x : 0 if (x == 2) else x)
sub_df['work_lastweek'] = sub_df['work_lastweek'].apply(lambda x : 0 if (x == 2) else x)
sub_df['famcare'] = sub_df['famcare'].apply(lambda x : 0 if (x == 2) else x)
sub_df['anx_ever'] = sub_df['anx_ever'].apply(lambda x : 0 if (x == 2) else x)
sub_df['dep_ever'] = sub_df['dep_ever'].apply(lambda x : 0 if (x == 2) else x)

In [80]:
for col in sub_df.columns:
    print(col, sub_df[col].value_counts(), sep='\n')
    print(sub_df[col].isna().sum())
    print("\n")

age
4    10450
2     6378
3     6051
1     3492
Name: age, dtype: int64
0


sex
0    14199
1    12172
Name: sex, dtype: int64
0


bmi
3    9058
4    8528
2    8374
1     411
Name: bmi, dtype: int64
0


physical
2    9228
3    7409
1    6037
4    2864
5     833
Name: physical, dtype: int64
0


marital
0    13570
1    12801
Name: marital, dtype: int64
0


edu
1    12628
2     9678
3     4065
Name: edu, dtype: int64
0


school
0    24739
1     1632
Name: school, dtype: int64
0


life_satisfaction
10    7907
8     7055
9     4841
7     3356
5     1333
6     1148
4      278
3      196
0      110
2       90
1       57
Name: life_satisfaction, dtype: int64
0


sad
5    20853
4     3178
3     1726
2      424
1      190
Name: sad, dtype: int64
0


nervous
5    15241
4     6149
3     3739
2      776
1      466
Name: nervous, dtype: int64
0


restless
5    16872
4     4288
3     3426
2      931
1      854
Name: restless, dtype: int64
0


hopeless
5    23017
4     1696
3     1181
2      277
1      200
Name: hopeless, dtype: int64
0


effort
5    19032
4     3073
3     2775
2      789
1      702
Name: effort, dtype: int64
0


worthless
5    23546
4     1306
3     1048
2      261
1      210
Name: worthless, dtype: int64
0


k6
0    25476
1      895
Name: k6, dtype: int64
0


social
1    23857
2     1551
3      569
4      394
Name: social, dtype: int64
0


work_lastweek
1    15632
0    10739
Name: work_lastweek, dtype: int64
0


work_whynot
0.0    15501
2.0     7599
1.0     3271
Name: work_whynot, dtype: int64
0


work_time
0.0     10740
40.0     6957
50.0     1555
45.0     1035
60.0      753
        ...
87.0        2
77.0        1
51.0        1
73.0        1
71.0        1
Name: work_time, Length: 83, dtype: int64
0


work_time35
1.0    12680
0.0    10739
2.0     2952
Name: work_time35, dtype: int64
0


support
1    14692
2     6872
3     2918
5     1005
4      884
Name: support, dtype: int64
0


support12m
2    20523
1     3435
3     2413
Name: support12m, dtype: int64
0


famcare
0    23248
1     3123
Name: famcare, dtype: int64
0


anx_ever
0    22043
1     4328
Name: anx_ever, dtype: int64
0


dep_ever
0    21548
1     4823
Name: dep_ever, dtype: int64
0


anx_freq
1    8448
0    7665
3    3850
2    3204
4    3204
Name: anx_freq, dtype: int64
0


anx_level
1.0    9558
0.0    7543
2.0    7257
3.0    2013
Name: anx_level, dtype: int64
0


dep_freq
0    13900
1     7746
2     2066
3     1615
4     1044
Name: dep_freq, dtype: int64
0


dep_level
0.0    13689
1.0     6490
2.0     4630
3.0     1562
Name: dep_level, dtype: int64
0

In [81]:
def anx_score(row):
  return row['anx_level'] * row['anx_freq']
def dep_score(row):
  return row['dep_level'] * row['dep_freq']

In [82]:
sub_df['anx_score'] = sub_df.apply(anx_score, axis=1)
sub_df['dep_score'] = sub_df.apply(dep_score, axis=1)

In [83]:
print('anx_score', sub_df['anx_score'].value_counts(), sep='\n')
print(sub_df['anx_score'].isna().sum())
print('\n')
print('dep_score', sub_df['dep_score'].value_counts(), sep='\n')
print(sub_df['dep_score'].isna().sum())

anx_score
0.0     7665
1.0     5562
2.0     4089
4.0     2157
6.0     2143
3.0     1917
8.0     1502
12.0     892
9.0      444
Name: anx_score, dtype: int64
0


dep_score
0.0     13900
1.0      4852
2.0      3288
4.0      1102
6.0      1053
3.0       967
12.0      438
8.0       435
9.0       336
Name: dep_score, dtype: int64
0

In [84]:
df = sub_df.copy()

In [85]:
df = df.reset_index()
del df['index']
display(df)

,age,sex,bmi,physical,marital,edu,school,life_satisfaction,sad,nervous,...,support12m,famcare,anx_ever,dep_ever,anx_freq,anx_level,dep_freq,dep_level,anx_score,dep_score
0,3,1,3,2,1,1,0,8,5,5,...,2,0,0,0,0,0.0,0,0.0,0.0,0.0
1,3,1,3,2,1,2,0,8,5,5,...,2,1,0,0,1,2.0,0,0.0,2.0,0.0
2,3,1,3,2,1,2,0,9,4,4,...,2,0,1,0,3,2.0,1,1.0,6.0,1.0
3,3,0,4,4,1,1,0,8,5,3,...,1,1,1,0,3,2.0,1,2.0,6.0,2.0
4,2,1,3,1,0,1,0,10,5,5,...,2,0,0,0,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26366,4,0,3,2,0,3,0,7,3,4,...,2,0,1,0,3,1.0,1,3.0,3.0,3.0
26367,2,0,4,4,1,2,0,8,5,3,...,2,0,1,1,3,2.0,2,2.0,6.0,4.0
26368,4,0,3,2,0,1,0,6,4,3,...,2,0,0,1,4,3.0,2,1.0,12.0,2.0
26369,3,1,2,3,0,1,0,5,4,4,...,2,0,0,0,4,1.0,3,1.0,4.0,3.0
26370,3,0,4,4,0,1,0,10,1,1,...,2,0,1,1,4,2.0,4,3.0,8.0,12.0

In [86]:
age_ohe = pd.DataFrame(tf.one_hot(df['age'], depth=len(df['age'].unique())+1)[:, 1:])
age_ohe = age_ohe.add_prefix('age_')
bmi_ohe = pd.DataFrame(tf.one_hot(df['bmi'], depth=len(df['bmi'].unique())+1)[:, 1:])
bmi_ohe = bmi_ohe.add_prefix('bmi_')
edu_ohe = pd.DataFrame(tf.one_hot(df['edu'], depth=len(df['edu'].unique())+1)[:, 1:])
edu_ohe = edu_ohe.add_prefix('edu_')
work_whynot_ohe = pd.DataFrame(tf.one_hot(df['work_whynot'], depth=len(df['work_whynot'].unique())+1)[:, 1:-1])
work_whynot_ohe = work_whynot_ohe.add_prefix('work_whynot_')
work_time35_ohe = pd.DataFrame(tf.one_hot(df['work_time35'], depth=len(df['work_time35'].unique())+1)[:, 1:-1])
work_time35_ohe = work_time35_ohe.add_prefix('work_time35_')
df = df.join(age_ohe)
df = df.join(bmi_ohe)
df = df.join(edu_ohe)
df = df.join(work_whynot_ohe)
df = df.join(work_time35_ohe)
display(df)

,age,sex,bmi,physical,marital,edu,school,life_satisfaction,sad,nervous,...,bmi_1,bmi_2,bmi_3,edu_0,edu_1,edu_2,work_whynot_0,work_whynot_1,work_time35_0,work_time35_1
0,3,1,3,2,1,1,0,8,5,5,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3,1,3,2,1,2,0,8,5,5,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,3,1,3,2,1,2,0,9,4,4,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3,0,4,4,1,1,0,8,5,3,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2,1,3,1,0,1,0,10,5,5,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26366,4,0,3,2,0,3,0,7,3,4,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
26367,2,0,4,4,1,2,0,8,5,3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
26368,4,0,3,2,0,1,0,6,4,3,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
26369,3,1,2,3,0,1,0,5,4,4,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
26370,3,0,4,4,0,1,0,10,1,1,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [87]:
scl = MinMaxScaler()
df['physical'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['physical'])),columns=['physical'])
df['life_satisfaction'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['life_satisfaction'])),columns=['life_satisfaction'])
df['sad'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['sad'])),columns=['sad'])
df['nervous'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['nervous'])),columns=['nervous'])
df['restless'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['restless'])),columns=['restless'])
df['hopeless'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['hopeless'])),columns=['hopeless'])
df['effort'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['effort'])),columns=['effort'])
df['worthless'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['worthless'])),columns=['worthless'])
df['social'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['social'])),columns=['social'])
df['work_time'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['work_time'])),columns=['work_time'])
df['support'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['support'])),columns=['support'])
df['support12m'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['support12m'])),columns=['support12m'])
df['dep_score'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['dep_score'])),columns=['dep_score'])
df['anx_score'] = pd.DataFrame(scl.fit_transform(pd.DataFrame(df['anx_score'])),columns=['anx_score'])
display(df)

,age,sex,bmi,physical,marital,edu,school,life_satisfaction,sad,nervous,...,bmi_1,bmi_2,bmi_3,edu_0,edu_1,edu_2,work_whynot_0,work_whynot_1,work_time35_0,work_time35_1
0,3,1,3,0.25,1,1,0,0.8,1.00,1.00,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3,1,3,0.25,1,2,0,0.8,1.00,1.00,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,3,1,3,0.25,1,2,0,0.9,0.75,0.75,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3,0,4,0.75,1,1,0,0.8,1.00,0.50,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2,1,3,0.00,0,1,0,1.0,1.00,1.00,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26366,4,0,3,0.25,0,3,0,0.7,0.50,0.75,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
26367,2,0,4,0.75,1,2,0,0.8,1.00,0.50,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
26368,4,0,3,0.25,0,1,0,0.6,0.75,0.50,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
26369,3,1,2,0.50,0,1,0,0.5,0.75,0.75,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
26370,3,0,4,0.75,0,1,0,1.0,0.00,0.00,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [88]:
print(df.columns)

Index(['age', 'sex', 'bmi', 'physical', 'marital', 'edu', 'school',
       'life_satisfaction', 'sad', 'nervous', 'restless', 'hopeless', 'effort',
       'worthless', 'k6', 'social', 'work_lastweek', 'work_whynot',
       'work_time', 'work_time35', 'support', 'support12m', 'famcare',
       'anx_ever', 'dep_ever', 'anx_freq', 'anx_level', 'dep_freq',
       'dep_level', 'anx_score', 'dep_score', 'age_0', 'age_1', 'age_2',
       'age_3', 'bmi_0', 'bmi_1', 'bmi_2', 'bmi_3', 'edu_0', 'edu_1', 'edu_2',
       'work_whynot_0', 'work_whynot_1', 'work_time35_0', 'work_time35_1'],
      dtype='object')

In [89]:
new_cols = ['sex', 'physical', 'marital', 'school',
       'life_satisfaction', 'sad', 'nervous', 'restless', 'hopeless', 'effort',
       'worthless', 'k6', 'social',
       'work_time', 'support', 'support12m', 'famcare',
       'anx_ever', 'dep_ever', 'anx_score', 'dep_score', 'age_0', 'age_1', 'age_2',
       'age_3', 'bmi_0', 'bmi_1', 'bmi_2', 'bmi_3', 'edu_0', 'edu_1', 'edu_2',
       'work_whynot_0', 'work_whynot_1', 'work_time35_0', 'work_time35_1']

In [90]:
dff = df[new_cols]
dfa = dff.drop('dep_score',axis=1)
dfd = dff.drop('anx_score',axis=1)
dfd.columns

Index(['sex', 'physical', 'marital', 'school', 'life_satisfaction', 'sad',
       'nervous', 'restless', 'hopeless', 'effort', 'worthless', 'k6',
       'social', 'work_time', 'support', 'support12m', 'famcare', 'anx_ever',
       'dep_ever', 'dep_score', 'age_0', 'age_1', 'age_2', 'age_3', 'bmi_0',
       'bmi_1', 'bmi_2', 'bmi_3', 'edu_0', 'edu_1', 'edu_2', 'work_whynot_0',
       'work_whynot_1', 'work_time35_0', 'work_time35_1'],
      dtype='object')

In [91]:
Xa, ya, Xd, yd = dfa.drop('anx_score',axis=1), dfa['anx_score'], dfd.drop('dep_score',axis=1), dfd['dep_score']

In [92]:
Xa_train, Xa_rem, ya_train, ya_rem = train_test_split(Xa,ya, train_size=0.7)
Xd_train, Xd_rem, yd_train, yd_rem = train_test_split(Xd,yd, train_size=0.7)
Xa_valid, Xa_test, ya_valid, ya_test = train_test_split(Xa_rem, ya_rem, test_size=0.5)
Xd_valid, Xd_test, yd_valid, yd_test = train_test_split(Xd_rem, yd_rem, test_size=0.5)

In [93]:
print(Xa_train.shape), print(ya_train.shape)
print(Xa_valid.shape), print(ya_valid.shape)
print(Xa_test.shape), print(ya_test.shape)
print(Xd_train.shape), print(yd_train.shape)
print(Xd_valid.shape), print(yd_valid.shape)
print(Xd_test.shape), print(yd_test.shape)

(18459, 34)
(18459,)
(3956, 34)
(3956,)
(3956, 34)
(3956,)
(18459, 34)
(18459,)
(3956, 34)
(3956,)
(3956, 34)
(3956,)

(None, None)

# Model construction

In [94]:
def my_model(hp):
    model = Sequential()
    model.add(tf.keras.Input(shape=(34,)))
    layers = hp.Choice('layer', [1,2])
    neurons = hp.Int('neuron', min_value=13, max_value=27, step=2)

    for i in range(layers):
        model.add(Dense(neurons, activation="relu"))
    model.add(Dense(1, activation="linear"))

    learning_rate = tf.keras.optimizers.schedules.ExponentialDecay(
        initial_learning_rate=0.01,
        decay_steps=7000,
        decay_rate=0.9)

    model.compile(
        loss="mse",
        optimizer=tf.keras.optimizers.Adam(learning_rate=learning_rate),
        metrics=['mse']
    )
    return model

In [95]:
tuner_anx = kt.GridSearch(
    my_model,
    objective='val_mse',
    max_trials = 16,
    overwrite=True,
    directory="test_search_anx",
    project_name="test_project_anx")

tuner_anx.search(
    Xa_train, ya_train, epochs=70,
    validation_data=(Xa_valid, ya_valid),
    callbacks=[tf.keras.callbacks.EarlyStopping(patience=10)])

Trial 16 Complete [00h 00m 21s]
val_mse: 0.026485707610845566

Best val_mse So Far: 0.026365991681814194
Total elapsed time: 00h 06m 25s

In [96]:
best_hps_anx = tuner_anx.get_best_hyperparameters()[0]

print('best number of layers:',best_hps_anx.get('layer'))
print('best number of neurons:',best_hps_anx.get('neuron'))

best number of layers: 1
best number of neurons: 17

In [97]:
tuner_dep = kt.GridSearch(
    my_model,
    objective='val_mse',
    max_trials = 16,
    overwrite=True,
    directory="test_search_dep",
    project_name="test_project_dep")

tuner_dep.search(
    Xd_train, yd_train, epochs=70,
    validation_data=(Xd_valid, yd_valid),
    callbacks=[tf.keras.callbacks.EarlyStopping(patience=10)])

Trial 16 Complete [00h 00m 15s]
val_mse: 0.01619083620607853

Best val_mse So Far: 0.015834655612707138
Total elapsed time: 00h 06m 29s

In [98]:
best_hps_dep = tuner_dep.get_best_hyperparameters()[0]

print('best number of layers:',best_hps_dep.get('layer'))
print('best number of neurons:',best_hps_dep.get('neuron'))

best number of layers: 2
best number of neurons: 23

In [99]:
anx_model = tuner_anx.hypermodel.build(best_hps_anx)
dep_model = tuner_dep.hypermodel.build(best_hps_dep)

In [100]:
anx_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 17)                595

 dense_4 (Dense)             (None, 1)                 18

=================================================================
Total params: 613
Trainable params: 613
Non-trainable params: 0
_________________________________________________________________

In [101]:
dep_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 23)                805

 dense_6 (Dense)             (None, 23)                552

 dense_7 (Dense)             (None, 1)                 24

=================================================================
Total params: 1,381
Trainable params: 1,381
Non-trainable params: 0
_________________________________________________________________

In [102]:
anx_model.fit(Xa_train, ya_train, epochs=100, validation_data=(Xa_valid, ya_valid), callbacks=[tf.keras.callbacks.EarlyStopping(patience=20)])

Epoch 1/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0351 - mse: 0.0351 - val_loss: 0.0308 - val_mse: 0.0308
Epoch 2/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0301 - mse: 0.0301 - val_loss: 0.0275 - val_mse: 0.0275
Epoch 3/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0297 - mse: 0.0297 - val_loss: 0.0293 - val_mse: 0.0293
Epoch 4/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0294 - mse: 0.0294 - val_loss: 0.0265 - val_mse: 0.0265
Epoch 5/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0293 - mse: 0.0293 - val_loss: 0.0268 - val_mse: 0.0268
Epoch 6/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0293 - mse: 0.0293 - val_loss: 0.0273 - val_mse: 0.0273
Epoch 7/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0289 - mse: 0.0289 - val_loss: 0.0276 - val_mse: 0.0276
Epoch 8/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0289 - mse: 0.0289 - val_loss: 0.0271 - val_mse: 0.0271
Epoch 9/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0290 - mse: 0.0290 - val_loss: 0.0270 - val_mse: 0.0270
Epoch 10/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0292 - mse: 0.0292 - val_loss: 0.0278 - val_mse: 0.0278
Epoch 11/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0289 - mse: 0.0289 - val_loss: 0.0267 - val_mse: 0.0267
Epoch 12/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0290 - mse: 0.0290 - val_loss: 0.0266 - val_mse: 0.0266
Epoch 13/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0287 - mse: 0.0287 - val_loss: 0.0269 - val_mse: 0.0269
Epoch 14/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0286 - mse: 0.0286 - val_loss: 0.0280 - val_mse: 0.0280
Epoch 15/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0288 - mse: 0.0288 - val_loss: 0.0272 - val_mse: 0.0272
Epoch 16/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0287 - mse: 0.0287 - val_loss: 0.0281 - val_mse: 0.0281
Epoch 17/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0285 - mse: 0.0285 - val_loss: 0.0301 - val_mse: 0.0301
Epoch 18/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0289 - mse: 0.0289 - val_loss: 0.0265 - val_mse: 0.0265
Epoch 19/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0286 - mse: 0.0286 - val_loss: 0.0274 - val_mse: 0.0274
Epoch 20/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0287 - mse: 0.0287 - val_loss: 0.0271 - val_mse: 0.0271
Epoch 21/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0286 - mse: 0.0286 - val_loss: 0.0268 - val_mse: 0.0268
Epoch 22/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0285 - mse: 0.0285 - val_loss: 0.0270 - val_mse: 0.0270
Epoch 23/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0287 - mse: 0.0287 - val_loss: 0.0272 - val_mse: 0.0272
Epoch 24/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0286 - mse: 0.0286 - val_loss: 0.0269 - val_mse: 0.0269

In [112]:
ya_pred = anx_model.predict(Xa_test)
mse_anx = sklearn.metrics.mean_squared_error(ya_test, ya_pred)
print('mse anx: ',mse_anx)

124/124 [==============================] - 0s 807us/step
mse anx:  0.029686545545672686

In [104]:
dep_model.fit(Xd_train, yd_train, epochs=100, validation_data=(Xd_valid, yd_valid), callbacks=[tf.keras.callbacks.EarlyStopping(patience=10)])

Epoch 1/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0199 - mse: 0.0199 - val_loss: 0.0170 - val_mse: 0.0170
Epoch 2/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0162 - mse: 0.0162 - val_loss: 0.0166 - val_mse: 0.0166
Epoch 3/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0161 - mse: 0.0161 - val_loss: 0.0169 - val_mse: 0.0169
Epoch 4/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0159 - mse: 0.0159 - val_loss: 0.0170 - val_mse: 0.0170
Epoch 5/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0157 - mse: 0.0157 - val_loss: 0.0169 - val_mse: 0.0169
Epoch 6/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0157 - mse: 0.0157 - val_loss: 0.0174 - val_mse: 0.0174
Epoch 7/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0156 - mse: 0.0156 - val_loss: 0.0164 - val_mse: 0.0164
Epoch 8/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0154 - mse: 0.0154 - val_loss: 0.0174 - val_mse: 0.0174
Epoch 9/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0154 - mse: 0.0154 - val_loss: 0.0167 - val_mse: 0.0167
Epoch 10/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0154 - mse: 0.0154 - val_loss: 0.0165 - val_mse: 0.0165
Epoch 11/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0153 - mse: 0.0153 - val_loss: 0.0172 - val_mse: 0.0172
Epoch 12/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0151 - mse: 0.0151 - val_loss: 0.0161 - val_mse: 0.0161
Epoch 13/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0151 - mse: 0.0151 - val_loss: 0.0167 - val_mse: 0.0167
Epoch 14/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0152 - mse: 0.0152 - val_loss: 0.0166 - val_mse: 0.0166
Epoch 15/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0150 - mse: 0.0150 - val_loss: 0.0164 - val_mse: 0.0164
Epoch 16/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0150 - mse: 0.0150 - val_loss: 0.0171 - val_mse: 0.0171
Epoch 17/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0148 - mse: 0.0148 - val_loss: 0.0165 - val_mse: 0.0165
Epoch 18/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0150 - mse: 0.0150 - val_loss: 0.0166 - val_mse: 0.0166
Epoch 19/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0148 - mse: 0.0148 - val_loss: 0.0162 - val_mse: 0.0162
Epoch 20/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0147 - mse: 0.0147 - val_loss: 0.0169 - val_mse: 0.0169
Epoch 21/100
577/577 [==============================] - 1s 2ms/step - loss: 0.0148 - mse: 0.0148 - val_loss: 0.0167 - val_mse: 0.0167
Epoch 22/100
577/577 [==============================] - 1s 1ms/step - loss: 0.0147 - mse: 0.0147 - val_loss: 0.0164 - val_mse: 0.0164

In [111]:
yd_pred = dep_model.predict(Xd_test)
mse_dep = sklearn.metrics.mean_squared_error(yd_test, yd_pred)
print('mse dep: ',mse_dep)

124/124 [==============================] - 0s 997us/step
mse dep:  0.016093539160175214

# Export Model

In [119]:
anx_model.save('/content/anx_model.h5')
dep_model.save('/content/dep_model.h5')

In [122]:
converter_anx = tf.lite.TFLiteConverter.from_keras_model(anx_model)
converter_dep = tf.lite.TFLiteConverter.from_keras_model(dep_model)
tflite_model_anx = converter_anx.convert()
tflite_model_dep = converter_dep.convert()

import pathlib
tflite_model_file_anx = pathlib.Path('/content/anx_model.tflite')
tflite_model_file_anx.write_bytes(tflite_model_anx)
tflite_model_file_dep = pathlib.Path('/content/dep_model.tflite')
tflite_model_file_dep.write_bytes(tflite_model_dep)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.
WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

7420